[INPUT]
# Routing station file - output from 'prepare_RBM_param.py'
route_station_file: /raid2/ymao/VIC_RBM_east_RIPS/VIC_RBM_code_test/param/RBM_temp/output/Rout.Cells.init
# RVIC output nc file (must be "grid" format, daily data)
RVIC_output_nc: /raid2/ymao/VIC_RBM_east_RIPS/VIC_RBM_code_test/output/RVIC/hist/salmon.rvic.h0a.2002-01-01.nc
# VIC output nc file - energy
vic_output_energy_nc: /raid2/ymao/VIC_RBM_east_RIPS/VIC_RBM_code_test/forcing/vic_output/nc/energy.20000101-20011231.nc
# VIC output time step - flow (units: hour)
vic_flow_dt: 24
vic_energy_dt: 3
# Vairable name for energy variables
Tair: Tair
vp: vp
Shortwave: Shortwave
Longwave: Longwave
Density: Density
Pressure: Pressure
Wind: Wind

[RBM_OPTIONS]
# RBM start and end date
start_date: 2000,1,1
end_date: 2001,12,31

[HYDRAULIC_OPTIONS]
# Leopold coefficients (constant throughout basin)
# <a_d> and <b_d>: a and b coefficients in flow depth estimation: z=aQ^b, where Q is flow discharge [cfs], z is flow depth [ft]
a_d: 0.34
b_d: 0.341
# <a_w> and <b_w>: a and b coefficients in channel width estimation: w=aQ^b, where Q is flow discharge [cfs], w is channel width [ft]
a_w: 1.22
b_w: 0.557

[OUTPUT]
# Flow and energy files, in the format of RBM input
rbm_flow_file: /raid2/ymao/VIC_RBM_east_RIPS/VIC_RBM_code_test/output/RVIC_VIC_for_RBM/Salmon.DA_flow
rbm_energy_file: /raid2/ymao/VIC_RBM_east_RIPS/VIC_RBM_code_test/output/RVIC_VIC_for_RBM/Salmon.DA_heat





